<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::#tittle},~{::script})}">
<head>
    <title id="tittle">Login Page</title>
</head>
<body>
   <div id="content">
       <h1>Home Page</h1>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia commodi doloribus ex hic, quibusdam ab architecto eaque doloremque? Ex aut aperiam praesentium. Odit enim eveniet quisquam, ipsum maxime corrupti nostrum quaerat. Tempora sunt architecto quisquam laborum, esse corrupti tenetur omnis, illo obcaecati quas quod molestiae hic corporis odio asperiores nemo sequi maxime accusantium mollitia fuga ducimus. Corporis nam explicabo veniam? Excepturi debitis dolor praesentium dolore quia natus. Adipisci iure quasi doloremque explicabo cupiditate aliquid totam exercitationem. Ipsam ducimus quis perspiciatis ea! Quod aut expedita adipisci fugit soluta voluptas, architecto amet, voluptatum molestias reiciendis non laudantium totam tempora. Quod, quae mollitia!
   </div>
   <script>
    console.log("Hello javascript");
   </script>
   <script>
    console.log("Hello home page");
   </script>
</body>
</html>