<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::#tittle},~{::script})}">
<head>
    <title id="tittle">Sign Up page</title>
</head>
<body>
   <div id="content">
       <h1>Home Page</h1>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, soluta harum? Fuga aliquam error porro voluptatibus iste doloremque rerum commodi sunt aspernatur ipsa consectetur eaque quod nam cumque odio architecto, expedita eligendi, atque pariatur numquam aut? Veritatis laborum odio recusandae beatae quidem veniam ea eveniet ab nostrum quia. Iste tempore corporis debitis, ad, deserunt sunt laborum aliquid inventore ea ipsa explicabo excepturi libero. Alias est vitae ad, corporis maiores atque officiis minus omnis pariatur molestias, a consequuntur natus veniam culpa quo magnam nulla ipsam, qui itaque voluptate eaque ipsum accusantium corrupti? Ratione quam blanditiis veniam dolor perspiciatis quis dignissimos doloribus.
    </div>
   <script>
    console.log("Hello javascript");
   </script>
   <script>
    console.log("Hello home page");
   </script>
</body>
</html>